:root {
  --primary-color: black;
}

* {
  background-color: var(--primary-color);
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(201, 201, 201);
}

.home * {
  padding: 0;
  margin: 0;
}

@media (min-width: 0px) {
  .category-list > p,
  .metadata > p,
  .recipe-item > p {
    font-size: 1rem;
  }

  .recipe-item,
  .metadata {
    display: grid;
    grid-gap: clamp(4px, 8px, 12px);
    grid-template-columns: 3fr 2fr 1fr 0.5fr;
  }
}

.metadata {
  background-color: rgb(160, 255, 119);
}

.metadata p {
  color: black;
  font-weight: 900;
  background-color: rgb(160, 255, 119);
}

.category-list {
  display: flex;
  gap: 1em;
}

.category-list p {
  color: black;
  font-weight: 900;
}

.verbose {
  display: none;
}

.recipe * {
  font-size: 1rem;
  font-style: normal;
}

.cpu.available,
.recipe h1,
.recipe h2,
.recipe h3 {
  color: rgb(160, 255, 119);
  font-weight: lighter;
}

.recipe h2,
.recipe h3 {
  font-weight: lighter;
}

.recipe h1::before {
  content: "# ";
}

.recipe h2::before {
  content: "## ";
}

.recipe h3::before {
  content: "### ";
}

ul,
ol {
  padding-left: 1em;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.meta {
  padding: 0;
  margin: 0;
}

.meta .key {
  color: white;
}

button {
  border: none;
  text-decoration: underline;
  color: rgb(160, 255, 119);
  padding: 1em 1em 1em 0em;
  cursor: pointer;
}

li::before {
  content: "* ";
}

.step li::before {
  content: "";
}

.meta li::before {
  content: "";
}

ul.step::before {
  content: "* ";
}

.step li {
  list-style-type: none;
  padding-left: 1em;
}

.cpu {
  font-weight: bolder;
}
